body{
    background-color: rgb(116, 116, 116);
    display: flex;
    justify-content: center;
    
}
.box{
    background-color: burlywood;
    text-align: center;
    width: 280px;
    height: 390px;
    border: 11px solid black;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}
.box button{
    background-color: crimson;
    width: 110px;
    height: 50px;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 5px 5px 5px ;
    margin-top: 30px;
}
.box button:hover{

    background-color: black;
    color: aliceblue;


}

